.about_container {
    padding: 3rem;
    width: 100%;
    min-height: 83vh;
    background: linear-gradient(135deg, #000000, #1a1a1a);
    letter-spacing: 1.5px;
    color: #fff;
}

.about_heading p {
    text-align: center;
    font-size: 2rem;
    color: #f52549;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.about_heading h1 {
    position: fixed;
    /* text-shadow: 0px 10px 0px rgba(236, 233, 233, 0.09); */
    top: 40%;
    /* left: 5%; */
    /* transform: translateX(0%); */
    font-size: 170px;
    color: rgba(0, 0, 0, 0.07);
    z-index: 100000;
    pointer-events: none;
    white-space: nowrap;
    user-select: none;
}

.about_content {
    display: flex;
    align-items: center;
    color: #f52549;
    font-weight: 600;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 3rem;
    position: relative;
    z-index: 1;
}

.about_img {
    width: 40%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.about_inner_img {
    border: 5px solid #f52549;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    width: 320px;
    height: 320px;
    animation: profile__animate 12s infinite ease-in-out;
}

.about_inner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.about_inner_img img:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.about_me {
    text-align: justify;
    width: 55%;
    padding: 2rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    color: #e6e6e6;
    font-size: 1.2rem;
    line-height: 1.6;
}

.about_me p {
    margin: 1.5rem 0;
    font-size: 1.2rem;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    25% {
        border-radius: 40% 60% 50% 20%/40% 20% 40% 60%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    75% {
        border-radius: 40% 50% 50% 80%/30% 40% 60% 50%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}