@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Permanent+Marker&display=swap');

.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 10;
    color: #E0E0E0;
    background-color: #112C33;
    /* Dark Blue */
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 15.6vh;
    opacity: 0;
    border-bottom: none;
    /* Remove any existing border */
    clip-path: url(#rounded-bottom);
}

.navbar_container.open {
    transform: translate(0, 0);
    opacity: 1;
}

/* SVG clip-path for rounded bottom border */
#rounded-bottom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.navbar_content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin-left: 300px;
    margin-top: 20px;
}

.logo-div {
    position: fixed;
    top: 10px;
    left: 10%;
    z-index: 10000;
    cursor: pointer;
    overflow: hidden;
    background-color: #FFFFFF;
    /* Dark Blue */
    /* height: 80px; */
}

.logo {
    width: 70px;
    transform: scale(2);
}

.nav_menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin-left: 80px;
    padding: 0;
}

.nav_menu ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 700;
    color: #F1FAEE;
    /* Off-White */
}

.nav_menu ul li a {
    color: #F1FAEE;
    /* Off-White */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_menu ul li a:hover {
    color: #E63946;
    /* Bright Red */
}

.nav_menu ul li.active a {
    color: #E63946;
    /* Bright Red */
}

.social {
    display: flex;
    gap: 2rem;
    height: 5vh;
}

.social .fa {
    font-size: 1.5rem;
    cursor: pointer;
    transform: rotate(10deg);
    transition: transform 0.9s ease;
    color: #A8DADC;
    /* Light Blue */
}

.social .fa:hover {
    transform: rotate(0deg);
    color: #E63946;
    /* Bright Red */
}

@media (max-width: 768px) {
    .nav_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(34, 34, 59, 0.9);
        /* Dark Blue */
        width: 100%;
        padding: 1rem;
    }

    .nav_menu.open {
        display: flex;
    }
}