@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Permanent+Marker&display=swap');

.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-100%);
    /* width: 50%; */
    margin: auto;
    height: 14.6vh;
    opacity: 0;
}

.navbar_container.open {
    transform: translateY(0);
    opacity: 1;
}

.navbar_content 
{
 /* border: 2px red solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: 300px;
    margin-top: 20px;
}
.logo-div{
    position: fixed;
        top: 10px;
        left: 10%;
        z-index: 10000;
        
        cursor: pointer;
        overflow: hidden;
        /* border: 2px rgb(250, 244, 244) solid; */
        background-color: white;
        height: 80px;

}
.logo {
    
    width: 80px;
    transform: scale(2);
    
}

.nav_menu {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.nav_menu ul {
    display: flex;
    gap: 10rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_menu ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav_menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_menu ul li a:hover {
    color: #ff1900;
}

.nav_menu ul li.active a {
    color: #ff1900;
    /* font-weight: bold; */
}

.social {
    display: flex;
    gap: 1rem;
}

.social .fa {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .nav_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 1rem;
    }

    .nav_menu.open {
        display: flex;
    }
}