footer {
    background-color: #F52549;
    padding: 2rem 0;
    color: white;
    letter-spacing: 2px;
    /* border: 2px red ssolid; */
}
.col{
    /* border: 2px red solid; */
    width: 30%;
    margin: auto;

}

.copyright {
    display: flex;
    margin: auto;
    justify-content: space-between;
    

    text-align: center;
    font-size: 1.1rem;
}

#go-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#go-top a {
    color: white;
    font-size: 3rem;
    transition: color 0.3s ease;
}

#go-top a:hover {
    color: black;
}